{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Nombre</label>
    <input name="username" id="username" required>
    <label for="gmail">gmail</label>
    <input name="gmail" id="gmail" required>
    <label for="password">Contraseña</label>
    <input type="password" name="password" id="password" required>
    <label for="verifcContra">Confirmar Contraseña <a href=""></a></label>
    <input type="password" name="verifContra" id="password" required>
    
    <input type="submit" value="Registrarse">
  </form>
{% endblock %}